SELECT table_name, column_name FROM information_schema.columns WHERE table_name IN ('encuesta_respuestas', 'encuesta_respuestas_detalle', 'encuesta_metricas_docente') ORDER BY table_name, column_name;
